#root {
  background-color: #444444;

}

.App {
  text-align: center;
  color: #bebebe;
}

.navbar-brand {
  max-width: 4rem;
}

.itemList {
  padding: 1rem;
}

.items {
  margin: 0 0 .5rem 0;
  color: #444444;
}

.items .card {
  box-shadow: 0.2rem 0.2rem rgb(161, 161, 161);  
}