#root {
  background-color: #2b3034;
}

.App {
  text-align: center;
  color: #bebebe;
}

.header-nav .navbar {
  padding: 0rem 1rem;
}

.header-nav a.navigation-link {
  display: block;
  padding: 1.5rem 1rem;
  color: rgb(95,210,241);
}

.header-nav a.navigation-link:hover {
  background: rgb(95,210,241);
  background: linear-gradient(0deg, rgba(95,210,241,1) 50%, rgba(52,58,64,.5) 100%);
  color: rgb(52,58,64);
  text-decoration: none;
  border-radius: 0rem 0rem .8rem .8rem;
}

.navbar-brand {
  max-width: 4rem;
  padding: .2rem;
}

.navbar-brand:hover {
  background: rgb(95,210,241);
  background: radial-gradient(circle, transparent 0%, rgb(95,210,241) 45%, transparent 75%);
}

.itemList {
  padding: 1rem;
}

.items {
  margin: 0 0 .5rem 0;
  color: #2b3034;
}

.items .card {
  box-shadow: 0.2rem 0.2rem rgb(161, 161, 161);  
}

.meanpi a {
  color: rgb(95,210,241);
}